<div class="vip">
  <br>
  <h1>Add a new celebrity</h1>
  <form action="/addcelebrity" method="post">
    <br>
    <input type="text" name="name" placeholder="Name">
    <br><br>
    <input type="text" name="movies" value="Movies">
    <br><br>
    <input type="submit" value="Submit">
</div>