<h1>Results</h1>
<ul>
  {{#each movies}}
    <li class="results">{{this.title}}</li>
    <li class="results">{{this.year}}</li>
    <li class="results">{{this.director}}</li>
    <hr>
  {{/each}}
</ul>
