<h1>Search Celebrities by Name or Movies</h1>
<form method="post" action="/celebritysearch">
  <br>
  <input type="text" name="title" placeholder="Name or Movie">
  <br><br>
  <input type="submit" value="Submit">
</form>