<div class="vip">
  <br>
  <h1>Add your movie</h1>
  <form action="/create" method="post">
  <br>
  <input type="text" name="title" value="Title">
  <br><br>
  <input type="text" name="year" value="Year">
  <br><br>
  <input type="text" name="genre" value="Genre">
  <br><br>
  <input type="text" name="director" value="Director">
  <br><br>
  <input type="text" name="rate" value="Rate">
  <br><br>
  <input type="text" name="duration" value="Duration">
  <br><br>
  <input type="submit" value="Submit">
</div>