<div class="index">
<h1>Welcome to our movie database</h1>
<h2>Please <a href="/login"><i>log in</i></a> or <a href="/signup"><i>sign up</i></a> to enjoy additional services</h2>
<a href="/search"><button class="button-start">Start Movie Search</button></a>
</div>