<h1>Please log in to enjoy our VIP services</h1>
<form action="/login" method="post">
  <br>
  <input type="text" name="username" placeholder="username">
  <br><br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 