<h1>Search Movies by Title</h1>
<h2>Log in or Sign Up to Search Movies by Title, Year, or Director</h2>
<form method="post" action="/search">
  <br>
  <input type="text" name="title" placeholder="Movie Title">
  <br><br>
  <input type="submit" value="Submit">
</form> 