<h1>Please sign up to enjoy additional services</h1>
<form action="/signup" method="post">
  <br>
  <input type="text" name="username" placeholder="username">
  <br><br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 
