<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <title>Search users</title>
</head>
<body>
  {{> nav }}
  <br>
  <h1>Search users</h1>
  <form method="post">
  <br>
  <input type="text" name="username" value="username">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>