<div>
  <h2>Hello {{name}}</h2>
  <br>
  <h1>Search Movies by Title, Year, or Director</h1>
  <form method="post" action="/vipsearch">
    <br>
    <input type="text" name="viptitle" placeholder="  Title, year, or director">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</div>